{% load static %}

<div class="subheader bg-white h-100px" id="kt_subheader">
    <div class="container flex-wrap flex-sm-nowrap">
        <div class="d-none d-lg-flex align-items-center flex-wrap w-250px">
            <a href="/">
                <img alt="KreditRooom Logo" src="/static/assets/media/a-logos/logo_primary_letter.png" class="max-h-25px" />
            </a>
        </div>
        <div class="subheader-nav nav flex-grow-1">
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1">$</span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">CURRENT BALANCE</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1">𝒦</span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">KRE BALANCE</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1">₿</span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">BTC BALANCE</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1">Ξ</span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">ETH BALANCE</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1">Ł</span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">LTC BALANCE</span>
                </span>
            </span>
        </div>
    </div>
</div>