{% load static %}

<div class="subheader bg-white h-100px" id="kt_subheader">
    <div class="container flex-wrap flex-sm-nowrap">
        <div class="d-none d-lg-flex align-items-center flex-wrap w-250px">
            <a href="/">
                <img alt="Relcanonical Logo" src="/static/assets/media/logos/logo_primary_letter.png" class="max-h-25px" />
            </a>
        </div>
        <div class="subheader-nav nav flex-grow-1">
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1"></span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">EST. PAGES</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1"></span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">EST. SITEMAPS</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1"></span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">EST. VISITS</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1"></span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">EST. CONVERSIONS</span>
                </span>
            </span>
            <span class="nav-item">
                <span class="nav-label px-10">
                    <span class="nav-title text-dark font-weight-bolder font-size-h2 mb-1"><span
                            class="text-muted font-weight-bolder font-size-h6 mr-1"></span>00</span>
                    <span class="nav-desc text-muted font-weight-bold font-size-sm">EST. SALES</span>
                </span>
            </span>
        </div>
    </div>
</div>