{% load static %}

<a href="" data-toggle="modal" data-target="#editNote"><span class="svg-icon svg-icon-md">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
            viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path
                    d="M11,3 L11,11 C11,11.0862364 11.0109158,11.1699233 11.0314412,11.2497543 C10.4163437,11.5908673 10,12.2468125 10,13 C10,14.1045695 10.8954305,15 12,15 C13.1045695,15 14,14.1045695 14,13 C14,12.2468125 13.5836563,11.5908673 12.9685588,11.2497543 C12.9890842,11.1699233 13,11.0862364 13,11 L13,3 L17.7925828,12.5851656 C17.9241309,12.8482619 17.9331722,13.1559315 17.8173006,13.4262985 L15.1298744,19.6969596 C15.051085,19.8808016 14.870316,20 14.6703019,20 L9.32969808,20 C9.12968402,20 8.94891496,19.8808016 8.87012556,19.6969596 L6.18269936,13.4262985 C6.06682778,13.1559315 6.07586907,12.8482619 6.2074172,12.5851656 L11,3 Z"
                    fill="#000000" />
                <path
                    d="M10,21 L14,21 C14.5522847,21 15,21.4477153 15,22 L15,23 L9,23 L9,22 C9,21.4477153 9.44771525,21 10,21 Z"
                    fill="#000000" opacity="0.3" />
            </g>
        </svg>
    </span>
</a>

<div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-20">
                <div data-scroll="true" data-height="auto">
                    <div class="text-center">
                        <div class="symbol symbol-50 symbol-circle symbol-xl-50">
                            <div class="symbol-label"
                                style="background-image:url( '/static/assets/media/a-team/13.jpg')">
                            </div>
                            <i class="symbol-badge bg-warning"></i>
                        </div>
                        <div class="mt-3">
                            <span class="text-dark font-weight-bolder font-size-h4">FName
                            </span>
                        </div>
                        <div class="text-dark-50 font-weight-bold font-size-lg">
                            $username</div>
                        <div class="text-dark-75 font-weight-bold font-size-h4 mt-4">
                            viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in
                            pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus
                            feugiat in ante metus.</div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-12">
                            <textarea
                                class="form-control form-control-solid font-weight-bold h-auto p-6 rounded-lg font-size-lg"
                                placeholder="Edit Your Reply ..." maxlength="200 "
                                rows="3 ">viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus.</textarea>
                        </div>
                    </div>
                    <div class="pt-0 text-center ">
                        <button type="submit "
                            class="btn btn-dark font-weight-bolder font-size-lg px-8 py-3 ">UPDATE</button>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>