{% load static %}

<!DOCTYPE html>

<html lang="en">

<!-- ===============================================-->
<!--    header starts here -->
<!-- ===============================================-->

<title>{% block title %} Earn ~$500 from the World's 1st Social Basic Income :: KreditRoom {% endblock %}</title>
{% include "main/templates/header.html" %}

<!-- ===============================================-->
<!--    header ends here -->
<!-- ===============================================-->

<div class="d-flex flex-column flex-root">
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
        <div
            class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
            <div class="d-flex flex-column-fluid flex-center">
                <div class="login-form login-signup">
                    <form class="container" id="form">
                        <div class="text-center pb-8"><img alt="KreditRoom Logo"
                                src="/static/assets/media/logos/logo_primary_letter.png" class="max-h-20px" />
                        </div>
                        <div class="pb-4 pt-lg-0 pt-0 text-center">
                            <h3 class="font-weight-boldest text-dark font-size-h4 display-2">~7.9 billion people live
                                without <mark>Universal Basic Income</mark>.</h3>
                            <p class="text-muted font-weight-bold font-size-h4">Today, you can build your first
                                <code>social credit score</code> to qualify for the<br /> world's first
                                <code>social basic income</code> and <code>social rapid loans</code> within minutes.
                            </p>
                        </div>
                        <div class="text-center">
                            <a href="/account/access/" class="btn btn-dark font-weight-boldest font-size-h6 px-8 py-4"
                                type="button">QUALIFY FOR ~$500 MONTHLY INCOME</a>
                        </div>
                    </form>
                </div>
            </div>

            <!-- ===============================================-->
            <!--    footer starts here -->
            <!-- ===============================================-->

            {% include "main/templates/footer.html" %}

            <!-- ===============================================-->
            <!--    footer ends here -->
            <!-- ===============================================-->

        </div>
    </div>
</div>

</html>