{% load static %}

<div class="d-flex flex-column flex-grow-1 flex-wrap mr-2 dropdown" data-toggle="dropdown" data-offset="40px 20px"
    data-placement="right">
    <div class="d-flex">
        <a href="" class="font-size-lg font-weight-bolder text-dark-75 mr-2"><span
                class="text-dark font-weight-bolder font-size-md">FName,
                <span class="text-muted font-weight-bold">₿username</span></span></a>
        <div class="font-weight-bold text-muted font-size-md">
            <span class="label label-secondary label-dot mr-2"></span>1d
        </div>
    </div>
</div>