{% load static %}

<div class="">
    <div class="">
        <div class="row">
            <div class="col-xl-12">
                <div class="text-center mb-0">
                    <span class="text-dark-75 font-weight-bolder font-size-sm">KreditRoom Limited
                    </span>
                    <div class="text-center my-1">
                        <a href="" class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">About</a>
                        <a href=""
                            class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Products</a>
                        <a href=""
                            class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Services</a>
                        <a href=""
                            class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Support</a>
                        <a href="" class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Terms</a>
                        <a href=""
                            class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Privacy</a>
                        <a href="" class="text-dark-50 font-size-sm font-weight-bold text-hover-primary mx-1">Cookie</a>
                    </div>
                    <span class="text-dark-75 font-weight-bold font-size-sm">© 2021 - 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>