{% load static %}

<div class="col-md-3">
    <div class="flex-row-auto offcanvas-mobile" id="kt_content_sidebar" data-sticky-container>
        <div class="scroll scroll-pull" data-sticky="true" data-margin-top="100" data-wheel-propagation="true" style="height: 470px">
            <div class="card mb-6">
                <div class="card-body p-10">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="text-center mb-0">
                                <div class="symbol symbol-60 symbol-circle symbol-xl-60">
                                    <div class=" symbol-label " style="background-image:url( '/static/assets/media/a-team/04.jpg') ">
                                    </div>
                                </div>
                                <div class="my-3">
                                    <span class="text-dark-50 font-weight-bolder font-size-md">FName, be the first to get early access to the world's first social basic income.
                                    </span>
                                </div>
                                <a href="/account/invite/" target="_blank" class="label label-primary font-weight-bolder label-inline font-size-md">
                                    YES, PLS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "card/templates/footer.html" %}
        </div>
    </div>
</div>