{% load static %}

<div class="card mt-2">
    <div class="card-body p-10 text-center">
        <div class="">
            <span class="font-weight-bold text-dark-75 font-weight-bolder font-size-h2 display-4 mb-0">000</span>
            <span class="text-muted font-weight-bold font-size-md">/</span>
            <span class="text-dark-75 font-weight-bold font-size-md">0+</span>
            <div class="mt-1">
                <div class="label label-info font-weight-bolder label-inline font-size-sm">
                    SCORE</div>
            </div>
        </div>
    </div>
</div>